<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class= "about-section">
      </section>
    
      <section class= "about-subsection">
      <p>The story is yours.</p>
      <p>Tell it with <span style="font-style: italic;">Stories</span>.</p>
      <br>
      <h2>Join today!</h2>
      
      <button><%= link_to "Sign-Up", 'new', class: "no-underline-button" %></button>
      </section>
      
    </main>
  </body>
</html>