<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class= "about-section">
      </section>
    
      <section class= "about-subsection">
      <h1>The Story is Yours</h1>
      <p>Tell it with <span style="font-style: italic;">Stories</span></p>
      <br>
      <h2>Join today!</h2>
      <br>
      <button>Sign-Up</button>
      </section>
      
    </main>
  </body>
</html>