<!DOCTYPE html>
<html>
  <body>
    <main>
      <section class="main-section">
        <h1>STORIES</h1>
        <p class="tagline">Your Digital Travel Journal</p>
        <button><%= link_to "Learn More", about_path, class: "no-underline-button" %> </button>
      </section>

      <section class="secondary-section">
        <h2>Journaling Modernized</h2>
        <br>
        <p> Today's traveler relies on a host of smartphone apps daily. Stories makes it easy to record your adventures with photos and text, to capture the depth of your experience.
      </section>

      <section class="secondary-image">
        <%= image_tag "https://ak.picdn.net/shutterstock/videos/3439440679/thumb/1.jpg" %>
      </section>
      <br>

      <section class="discover-button">
        <h2> Discover Stories </h2>
        <br>
        <button> <%= link_to "Learn More", about_path, class: 'no-underline-button' %> </button>
      </section>
    </main>



  </body>
</html>