main {
  font-family: "Josefin Sans", serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.main-section {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlgtOXXmRC3gaoT77GnTJff5dBCt5oGV8-6Q&s") no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  padding: 60px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

main h1 {
  font-size: 50px;
  font-weight: 300;
}

main h2 {
  font-size: 40px;
}

.tagline {
  font-style: italic;
  font-size: 25px;
  padding: 0 0 8px 0;
}

main button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  background-color: blue;
  color: white;
  font-weight: 100;
  font-size: 20px;
}

.secondary-section {
  text-align: center;
  font-size: 25px;
  padding: 60px 100px 60px 100px;
}

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.discover-button {
  padding: 60px 100px 60px 100px;
}

.discover-button button {
  border: none;
  border-radius: 5px;
  display: inline-block;
  background-color: green;
  color: white;
  font-weight: 100;
  font-size: 20px;
}

footer {
  font-family: "Josefin Sans", serif;
  text-align: center;
  font-weight: 100;
  padding: 40px;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 100%;
  background-color: #334;
  color: white;
  transform: translateX(-100%);
  transition: transform .5s ease;
  font-family: "Josefin Sans", serif;
  
}

#menu ul {
  list-style-type: none;
  padding: 20px 0 0 20px;
  font-weight: 100;
  font-size: 20px;
}

#menu li {
  padding: 0 0 20px 0;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu.hidden {
  transform: translateX(-100%);
}

#menu:not(.hidden) {
  transform: translateX(0);
}

#button, #close-button {
  cursor: pointer;
}

#button img, #close-button img {
  width: 50px;
  height: 50px;
  padding: 15px;
}
